

body {
    font-family: Arial;
}

.grid-a {
    display: grid;
    grid-template-columns: 200px 75px;
}
.blue{
    background-color: lightblue;
}

.pink{
    background-color: lightpink;
}

.grid-b{
    display: grid;
    grid-template-columns: 50px 1fr 75px;
}

.grid-c {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
    }

    .lesson-g {
        display: inline-block;
        box-shadow: 2px 2px 10px rgb(221, 221, 221);
        border-radius: 5px;
    }

    .photo-g {
        height: 150px;
        object-fit: cover;
        box-shadow: 2px 2px 10px rgb(221, 221, 221);
        width: 150px;
        border-radius: 1px;
        display: inline-block;
    }
    
    .name-g {
        font-weight: 700;
        font-size: 13px;
        padding-left: 5px;
        margin-top: 7px;
        margin-bottom: 5px;
    }
    .mutual-friends-g {
        color: grey;
        font-size: 11px;
        padding-left: 5px;
        margin: 0;
    }
    
    .add-friend-g {
        background-color: rgb(31, 143, 255);
        color: white;
        border: none;
        border-radius: 2px;
        height: 30px;
        width: 85px;
        font-size: 12px;
        margin-top: 5px;
        margin-left: 5px;margin-bottom: 5px;
        cursor: pointer;

    }